extends layout

block content

    form(method='POST' action='')
        if channelname != "false"
            div.form-group
                label(for='channelname') channelname:
                input#channelname.form-control(type='text' name='channelname' required='true')
        if announce != "false"        
            div.form-group
                label(for='announce') announce:
                input#announce.form-control(type='text' name='announce' required='true')
        button.btn.btn-primary(type='submit') Submit

    hr
    p #{err1}