extends layout

block content

    form(method='POST' action='')
        div.form-group
            label(for='groupname') groupname:
            input#groupname.form-control(type='text' name='groupname' required='true')
        button.btn.btn-primary(type='submit') Submit

    hr
    p #{err1}