extends layout

block content

    form(method='POST' action='')
        div.form-group
            label(for='groupname') 群组名字:
            input#groupname.form-control(type='text' name='groupname' required='true')
        div.form-group
            label(for='announce') 群组公告:
            input#announce.form-control(type='text' name='announce' required='true')
        button.btn.btn-primary(type='submit') 提交

    hr
    p #{err1}