doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
    title=title
  body
    div(class='container-fluid')
      div(class='row')
        div(class='col-md-2')
          block sidebar
            ul(class='sidebar-nav')
              li 
                a(href='/login') 登录
              li 
                a(href='/register') 注册
              li
                a(href="/users/msg") 我的信息
              li
                a(href="/group/create") 创建群组
              li
                a(href="/group") 所有群组
                
        div(class='col-md-8')
          block content

        div(Class="col-md-2")
          block other