extends layout

block content

    form(method='POST' action='')
        div.form-group
            label(for='rssname') 简易信息聚合名字:
            input#rssname.form-control(type='text' name='rssname' required='true')
        div.form-group
            label(for='link') 简易信息聚合链接:
            input#link.form-control(type='text' name='link' required='true')  
        button.btn.btn-primary(type='submit') 提交

    hr
    p !{err1}