extends layout

block content

    form(method='POST' action='')
        div.form-group
            label(for='oldpassword') 旧密码:
            input#oldpassword.form-control(type='password' name='oldpassword' required='true')
        div.form-group
            label(for='newpassword') 新密码:
            input#newpassword.form-control(type='password' name='newpassword' required='true')
        div.form-group
            label(for='newpassword2') 再次输入新密码:
            input#newpassword2.form-control(type='password' name='newpassword2' required='true')
        button.btn.btn-primary(type='submit') 提交

    hr
    p #{err1}