extends layout

block content
    if(user)
        p username:#{user.username}
        p password:#{user.password}
        hr
        a(href="/users/logout") logout
        hr
        a(href="/users/changepassword") change password