extends layout

block content

    form(method='POST' action='')
        div.form-group
            label(for='oldpassword') old password:
            input#oldpassword.form-control(type='password' name='oldpassword' required='true')
        div.form-group
            label(for='newpassword') new password:
            input#newpassword.form-control(type='password' name='newpassword' required='true')
        div.form-group
            label(for='newpassword2') new password again:
            input#newpassword2.form-control(type='password' name='newpassword2' required='true')
        button.btn.btn-primary(type='submit') Submit

    hr
    p #{err1}