body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  color: #00B7FF;
}

.sidebar-nav {
  margin-top: 20px;
  padding: 0;
  list-style: none;
}

div#msgDiv {
  height: 500px;
  overflow: auto;
}

div#d1 {
  position: fixed;
  bottom: 10px;
  width: 60%;
}

div#d1 input {
  width: 90%;
}

div#d1 button {
  width: 10%;
}

ul#msg {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul#msg li {
  padding: 5px 10px;
}

ul#msg li:nth-child(odd) {
  background: #eee;
}

#emojiWrapper {
  display: none;
  width: 500px;
  bottom: 40px;
  position: absolute;
  background-color: #aaa;
  box-shadow: 0 0 10px #555;
}

#emojiWrapper img {
  margin: 2px;
  padding: 2px;
  width: 25px;
  height: 25px;
}

#emojiWrapper img:hover {
  background-color: blue;
}